<h1>Hi!</h1>
<input type=text id=zipcode>
<input type=button value=clickme onclick='clicked()' />

<br />
<div id='city'></div>
<br />
<div id='uvdata'></div>

<script>
	function clicked(){
	$.ajax({
		url: "/zip/" + document.getElementById("zipcode").value,
		data: {},
		success: function(response){
			//var res = response["b"];
      console.log(response);
      var city = JSON.parse(response["city"]);
      console.log(city.city)

      var uvdata = JSON.parse(response["data"]);
      var chartData = [];
      for (var i=0; i < uvdata.length; i++) {
        var obj = uvdata[i];
        chartData.push(obj["UV_VALUE"]);
      }
      console.log(chartData);


      document.getElementById("city").innerHTML = "<h1>" + city.city + ", " + city.state + "</h1>";
	}});
}
</script>
