<!DOCTYPE html>
<html>
<head>
  <title>Uvindex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UV Index</a>
    </div> 
  </div>
</nav>
<body>

  
<div class="text-center col-lg-12">
  <div class="row">
        <%= yield %>
  </div>
</div>

</body>
</html>
